<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Edit Listing</h3>
        <form  
        method="POST" 
        action="/listings/<%=listing._id %>?_method=PUT" 
        novalidate 
        class="needs-validation"
        enctype="multipart/form-data"
        >
            <div class="mb-3">
                <label for="title"class="form-label">Title</label>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                <div class="valid-feedback">Title Looks Good</div>
            </div>
            <div class="mb-3">
                <label for="description"class="form-label">Description</label>
                <textarea name="listing[description]"class="form-control"required><%= listing.description %></textarea>
                <div class="invalid-feedback">Please enter short description</div>
            </div>
            <div class="mb-3 col-md-4">
                Original Listing Image <br>
                <img style="height: 250px; width: 250px;" src="<%=originalImageUrl%>">
            </div>
            <div class="mb-3">
                <label for="image"class="form-label">Upload New Image</label>
                <input name="listing[image]" type="file" class="form-control">
            </div>
           <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <br />
                <div class="row">
                    <% 
                        const categories = ["trending", "rooms", "iconiccities", "mountains", "castles", "amazingpools", 
                                            "camping", "farms", "arctic", "domes", "boats"]; 
                    %>
                    <% categories.forEach((cat, index) => { %>
                        <div class="col-md-6">
                            <div class="form-check">
                                <input 
                                    class="form-check-input" 
                                    type="checkbox" 
                                    name="listing[category]" 
                                    value="<%= cat %>" 
                                    id="<%= cat %>" 
                                    <%= listing.category.includes(cat) ? "checked" : "" %>
                                >
                                <label class="form-check-label" for="<%= cat %>">
                                    <%= cat.charAt(0).toUpperCase() + cat.slice(1).replace(/([A-Z])/g, ' $1') %>
                                </label>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price"class="form-label">Price</label>
                    <input name="listing[price]"value="<%= listing.price %>" type="number" class="form-control"required>
                    <div class="invalid-feedback">Please enter valid price</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country"class="form-label">Country</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control"required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location"class="form-label">Location</label>
                <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control"required>
                <div class="invalid-feedback">Location should be valid</div>
            </div>
            <button class="btn btn-dark edit-btn mt-3 mb-3">Edit</button>
        </form>
    </div>
</div>
